[Settings]
slug_word_count = 4
process_non_zid_lines = false
# Preserves original extensions: e.g. 1 -> .pdf, 3 -> .1.de.srt
preserve_extension_depth = 0
# Slugifies extensions: e.g. 1 -> -pdf, 3 -> -1-de-srt
slugify_extension_depth = 1
allowed_chars_regex = [^a-zA-Zа-яА-ЯёЁ0-9\s-]

[Format]
lowercase = true
separator = -

[Replacements]
ä = ae
ö = oe
ü = ue
ß = ss
ẞ = ss
Ä = ae
Ö = oe
Ü = ue
_ = -
: = -
. = -
