[Settings]
slug_word_count = 4
process_non_zid_lines = false
# Number of extensions to preserve (e.g. 1 for .pdf, 2 for .tar.gz)
extension_nesting_level = 0
# Force extension to be hyphenated into the slug (e.g. file-pdf)
add_extension_to_slug = true
allowed_chars_regex = [^a-zA-Zа-яА-ЯёЁ0-9\s-]

[Format]
lowercase = true
separator = -

[Replacements]
ä = ae
ö = oe
ü = ue
ß = ss
ẞ = ss
Ä = ae
Ö = oe
Ü = ue
_ = -
: = -
. = -
